.data-list {
  text-align: center;
}

.list-title {
  background-color: #5889e5;
  padding: 2%;
}

.list-item {
  padding: 2%;
}

.list-item:nth-child(odd) {
  color: #000;
}

@media screen and (min-width: 800px) {
  .data-list {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
  }

  .list-title {
    width: 15%;
    background-color: transparent;
  }

  .list-item {
    width: 25%;
  }
}
