.popular-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4369b2;
}

.location-title {
  font-size: 18px;
  background-color: #35548b;
  width: 100%;
  padding: 4%;
  text-transform: uppercase;
  text-align: center;
}

.location-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap:10px;
  margin: 2% 0;
}

.location-button {
  color: #fff;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  height: 15vh;
  word-wrap: break-word;
  border-radius: 10px;
}

.location-button:hover {
  background-color: #092558;
}

@media screen and (min-width: 550px) {
  .location-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .location-button {
    padding: 10px 15px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .location-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
